# Игнорируем тяжелые бинарные файлы датасетов
*.bin
*.npy
data/labeled-datasets/

# Игнорируем сохраненные веса моделей и кэш
models/*.pkl
mlruns/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.pyc

# Оставляем логи, csv-результаты и текстовые конфигурации
# (если хотите скрыть csv, раскомментируйте строку ниже)
# data/*.csv
